<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <packageSources>
        <clear />
        <add key="LocalPackages" value=".backend/home/.nuget" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <config>
        <add key="globalPackagesFolder" value=".backend/home/.nuget" />
        <add key="repositoryPath" value=".backend/home/.nuget" />
    </config>
</configuration>